<mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1>Groups</h1>
        </mat-card-title>
        <div class="right">
            <button type="button" class="btn btn-primary" (click) = "openForm()">Create Group</button>
        </div>
    </mat-card-header>
</mat-card>

<mat-divider></mat-divider>

<br>

<div *ngIf="createButtonClicked">
    <form [formGroup]="form" (submit)="submit(form.value)">
    <fieldset>
        <mat-card>
            <div class="container">
                <div class="form-group">
                    <label > Group Title</label>
                    <input type="email" class="form-control" placeholder="Enter Title" required formControlName="title" >
                  </div>
                
                <div class="form-group">
                    <label > Group Description </label>
                    <input type="email" class="form-control" placeholder="Enter short description" required formControlName="description">
                  </div>
            </div>
        </mat-card>
        
      
    </fieldset>
  
    <fieldset>
    <mat-card>
    <label>Add members</label>
      <ng-container formArrayName="members" *ngFor="let member of members.controls; index as i">
        <ng-container [formGroupName]="i">
          
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="inputGroup-sizing-default" placeholder="Members's registered email" formControlName="memberEmail" aria-label="Members's registered email" aria-describedby="basic-addon2" 
                (focusout) = "checkIfUserExists($event)" required>
                <div class="input-group-append">
                    <button class="btn btn-outline-danger" type="button" (click)="removegroupDetailsField(i)" > Remove </button>
                </div>
              </div>

        </ng-container>
      </ng-container>
      <div *ngIf="userNotExists">
        <p style="color: red;">One or more users are not registered</p>
    </div>
      <!-- <button type="button" class="btn btn-success btn-circle btn-xl"><i class="fa fa-plus"></i>
      </button> -->

      <button class="btn btn-primary" type="button" (click)="addgroupDetailsField()"> Add </button>
    </mat-card>
      
    </fieldset>
    
    <div class="container">
        <div class="row">
            <div class="col">
                <button class="btn btn-danger form-control  btn-block" (click)="reset()">Reset</button>
            </div>
            
            <div class="col">
                <button class="btn btn-secondary form-control btn-block" type="button" (click)= "closeForm()" >Close</button>
            </div>

            <div class="col">
                <button id="btnSubmit" class="btn btn-success form-control btn-block" type="submit" >Submit</button>
            </div>
        </div>
    </div>
    
  </form>
</div>



<mat-action-list>
    <div *ngFor="let group of groups"> 
        <mat-card (click) = "openGroupDeails(group)" >
            <h2 matline> {{group.title}}</h2>
            <p matLine> Description : {{group.description}}</p>
        </mat-card>
        <mat-divider></mat-divider>
    </div>
    
</mat-action-list>
