<!-- <div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Register</h4>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email</label>
                          <input type="email" class="form-control" name="email" [(ngModel)]="email">
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="password" class="form-control" name="password" [(ngModel)]="password">
                        </div>
                        <button type="button" class="btn btn-info" (click)="register()">Register</button>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="/login" style="text-decoration: none;">Have an account ? <span class="text-danger">Login</span></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div> -->

<app-header></app-header>

<div class="container">
    <form class="form-horizontal">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <h1 class="login-heading">Register</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <label class="sr-only" for="email">Name</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input type="text" name="fullname" class="form-control" id="fullname"
                               placeholder="Fullname" required autofocus [(ngModel)]="fullname" >
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <label class="sr-only" for="email">Phone</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input type="text" name="phone" class="form-control" id="phone"
                               placeholder="phone" required autofocus [(ngModel)]="phone" >
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group has-danger">
                    <label class="sr-only" for="email">E-Mail Address</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input type="text" name="email" class="form-control" id="email"
                               placeholder="email" required autofocus [(ngModel)]="email" >
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-3">
                <div class="form-control-feedback">
                    <span class="text-danger align-middle">
                        <i class="fa fa-close"></i> Example error message
                    </span>
                </div>
            </div> -->
        </div>

        

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="sr-only" for="password">Password</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" name="password" class="form-control" id="password"
                               placeholder="Password" required  [(ngModel)]="password">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="sr-only" for="password">Confirm Password</label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" name="confirm_password" class="form-control" id="confirm_password"
                               placeholder="Confirm Password" required [(ngModel)]="confirm_password">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                    <span class="text-danger align-middle">
                    <!-- Put confirm password error message here -->  
                    {{errorString}}  
                    </span>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 1rem">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success" (click)="register()"><i class="fa fa-sign-in"></i> Register </button>
                <a class="btn btn-link" [routerLink]="['/login']" routerLinkActive="router-link-active" >Already have an account ? Login</a>
                <br>
                <br>
                
                <!-- <button class="btn btn-danger" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</button> -->
            </div>
        </div>
    </form>
  </div>