#addbutton{
    margin: 10px;
}

.form-control{
    margin: 10px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 20px;
  }

.example-full-width {
width: 100%;
}

.amountInput{
    border: 1px solid #ced4daa6;
    border-radius: 10%;
    height: auto;
    width: 80px;
}

.mat-list-option{
    margin: 8px;
}

// .leftSide{width:auto; border-bottom:2px solid blue;float:left;}
// .rightSide{width:auto; border-bottom:2px solid red;float:right;}
// // ::ng-deep .rightSide .mat-pseudo-checkbox{display:none;}
// .rightSide .mat-list-item, .leftSide .mat-list-item{height:50px;}
// .parentDiv{width:50vw;}

.parentListDiv{
    width: auto;
}
.selectionList{
    width: auto;
    float: left;
}

.inputAmountList{
    margin-top: 20px;
    width: auto;
    float: left;
}

.amountremaining{
    color: red;
    font-size: 15px;
}

.amountexcess{
    color: green;
    font-size: 15px;
}

.expenses{
    height: auto;
}

:host ::ng-deep .mat-tab-body.mat-tab-body-active {
  height: auto;

}

// .mat-card:not([class*=mat-elevation-z]) {
//     box-shadow: 0 2px 1px -1px rgba(0,0,0,1), 
//                 0 1px 1px 0 rgba(0,0,0,1), 
//                 0 1px 3px 0 rgba(0,0,0,1);
// }

// .tab-container {
//     box-shadow: 0px 0px 10px 0px #9b9b9b,
//         0 1px 1px 0 #9b9b9b,
//         0 1px 3px 0 #9b9b9b;
// }

.expense-list-item{
    
    box-shadow: 0px 0px 5px 0px #9b9b9b,
        0 1px 1px 0 #9b9b9b,
        0 1px 2px 0 #9b9b9b;
    margin: 10px;

}

.expense-title{
    font-size: 20px;
    font-weight: bold;
    background-color: #bfbcbc;
}

.totalAmount{
    text-align: right;
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.willRecieve{
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    color: rgb(19, 156, 19);
}

.willPay{
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    color: rgb(190, 35, 35);
}