<br>
<mat-card class="tab-container">
    <mat-tab-group (selectedTabChange)="tabClick($event)">
    <mat-tab label="Expenses" class="expenses">
      <ng-template matTabContent>
        <br>
        <button class="btn btn-success addbutton" (click) = "addExpense()">
          Add Expense
        </button>
        
        <div *ngIf="addbuttonClicked" class="expense_add_form">
          <form>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Title</mat-label>
              <input matInput placeholder="Title" [(ngModel)]="title" name="title" required>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Total Amount</mat-label>
              <input type="number" matInput placeholder="Total Amount" [(ngModel)]="total_amount" (keyup) = "distributeAmount(selectedShareType)" name="total_amount" required>
            </mat-form-field>
            <!-- <input class="form-control" type="text" placeholder="title" name="title" [(ngModel)]="title" required> -->

            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Paid By</mat-label>
              <mat-select matNativeControl required [(value)]="paidby">
                <mat-option *ngFor="let member of groupMembers" [value]="member.uid">
                  {{member.fullName}}
                  </mat-option>
              </mat-select>
            </mat-form-field>
            <!-- <p>You selected: {{paidby}}</p> -->


            <mat-form-field appearance="fill" class="example-full-width">
              <mat-label>Category</mat-label>
              <mat-select matNativeControl required [(value)]="selectedCategory">
                <mat-option *ngFor="let category of categories" [value]="category">
                  {{category}}
                  </mat-option>
              </mat-select>
            </mat-form-field>
            <!-- <p>You selected: {{selectedCategory}}</p> -->
            

            <label id="example-radio-group-label">How do you want to distribute?</label>
            <div class="row">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="selectedShareType"
              name="selectedShareType" class="example-full-width" required>

              <mat-radio-button class="example-radio-button" *ngFor="let shareType of sharesType" [value]="shareType" (click)="distributeAmount(shareType)">
                
                <div class="col">
                {{shareType}}
                </div> 

              </mat-radio-button>
            </mat-radio-group>

              <!-- <div>Your share type is : {{selectedShareType}}</div> -->
              <div *ngIf="selectedShareType === 'Exact'">
                <p class="amountremaining" *ngIf="(total_amount - enteredTotal) > 0">
                  Remaining Amount : -{{total_amount - enteredTotal}}
                </p>
                <p class="amountexcess" *ngIf="(total_amount - enteredTotal) < 0">
                  Excess Amount : +{{enteredTotal - total_amount}}
                </p>
                <p class="amountexcess" *ngIf="(total_amount - enteredTotal) == 0">
                  Excess Amount : {{enteredTotal - total_amount}}
                </p>
              </div>

            </div>

            <div class="parentListDiv">

              <div class="selectionList">
                <mat-selection-list #list [(ngModel)]="selectedShares" (ngModelChange)="onListSelectionChange($event)"
                  name="selectedUsersList">
                  <mat-list-option *ngFor="let share of shares" [value]="share" checkboxPosition="before">
              
                    <p>
                      {{share.user.fullName}}
                    </p>
              
                  </mat-list-option>
                </mat-selection-list>
              </div>

              <div *ngIf="selectedShareType === 'Equal'">
               
                <div class="inputAmountList">
                  <mat-list *ngFor="let share of shares">
                    <mat-list-item>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" style="margin-top: 10px;"
                            id="inputGroup-sizing-default">₹</span>
                        </div>
                        <input type="number" [disabled]="true"
                          [value]="share.share" name="shareAmount" class="form-control" aria-label="Default"
                          aria-describedby="inputGroup-sizing-default">
                      </div>
                    </mat-list-item>
                  </mat-list>
                </div>
              </div>

              <!-- If share type is not equal distribution -->
              <div *ngIf="selectedShareType !== 'Equal'">
                <div class="inputAmountList">
                  <mat-list *ngFor="let share of shares">
                    <mat-list-item>
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span *ngIf="selectedShareType === 'Percentage'" class="input-group-text" style="margin-top: 10px;" id="inputGroup-sizing-default">%</span>
                          <span *ngIf="selectedShareType === 'Exact'"class="input-group-text" style="margin-top: 10px;" id="inputGroup-sizing-default">₹</span>
                        </div>
                        <input type="number" *ngIf="selectedShareType === 'Exact'" [disabled]="!share.isSelected" [value]="share.share" (keyup)="updateShareAmount($event, share)" name="shareAmount" class="form-control"
                          aria-label="Default" aria-describedby="inputGroup-sizing-default">
                        <input type="number" min="0" max="100" *ngIf="selectedShareType === 'Percentage'" [disabled]="!share.isSelected" [value]="share.share" (keyup)="updateSharePercentage($event, share)" name="shareAmount" class="form-control"
                          aria-label="Default" aria-describedby="inputGroup-sizing-default">
                      </div>
                    </mat-list-item>
                  </mat-list>
                </div>
              </div>

            </div>
          


            <!-- <div>
              <mat-list *ngFor="let share of shares">
                <p>{{share.user.fullName}} : {{share.share}}</p>
              </mat-list>
            </div> -->

            <button type="reset" class = "btn btn-secondary float-right" (click) = "closeform()"> close</button>
            <button type="submit" class="btn btn-success float-right" (click) = "submitForm()"> Submit</button>
          </form>
        </div>
        

        <!-- Expenses List will be shown here onwards -->
        <br>
        <br>
        <!-- <mat-divider> </mat-divider> -->


        <div class="expenselist_section">
          <!-- <h1>Group Expenses</h1> -->
          <mat-action-list>
            <div *ngFor="let expense of expensesList">
              <mat-card class="expense-list-item" (click) = "openExpenseDetails(expense)">
                <div class="expense-title">
                  <h2 matline> {{expense.title}}</h2>
                </div>
                
                <div class="row">
                  <div class="col">
                    <p matLine> Paid By : {{expense.paidBy.uname}}</p>
                    <p matline> Added at - {{expense.expense_date | date:'dd/MM/yyyy, h:mm a'}}</p>
                  </div>
                  <div class="col">
                    <div class="float-right">
                    <p matLine class="totalAmount"> Total: ₹{{expense.expense_amount}}</p>
                    <div *ngIf="isCurrentUserInvolved(expense)">
                      <p matline *ngIf="currentUserExpenseSettlement(expense) > 0" class="willRecieve"> you are owed by ₹{{currentUserExpenseSettlement(expense)}}</p>
                      <p matline *ngIf="currentUserExpenseSettlement(expense) < 0" class="willPay"> you owes -₹{{currentUserExpenseSettlement(expense)* (-1)}} </p>
                    </div>
                    </div>
                  </div>
                </div>
          
              </mat-card>
              <mat-divider></mat-divider>
            </div>
          </mat-action-list>
        </div>
        
      </ng-template>
    </mat-tab>

    <!------------------- Settlements Tab --------------------------->
    <mat-tab label="Settlements" class="settlements">
      <ng-template matTabContent>
        <!-- <div class="container">
          <button style = "margin: 10px;" class="btn btn-success" (click) = "simplifySettlements()"> Simplify </button>
        </div> -->
        
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="15px" class="stats-cards">
        
          <mat-card class="stat-card" fxFlex="33">
            <div class="text">
              <h4 class="mat-h4">Group Expenditure</h4>
        
              <br>
              <span class="total">₹{{totalGroupExpenditure}}</span>
            </div>
          </mat-card>
        
          <mat-card class="stat-card" fxFlex="33">
            <div class="text">
              <h4 class="mat-h4">Your Expenditure</h4>
        
              <br>
              <span class="total">₹{{currentUserExpenditure}}</span>
            </div>
          </mat-card>
          
          <mat-card *ngIf="currentUserSimplifiedExpenditure >= 0" class="stat-card-receive" fxFlex="33">
            <div class="text">
              <h4 class="mat-h4">You Will Receive</h4>
          
              <br>
              <span class="total">₹{{currentUserSimplifiedExpenditure}}</span>
            </div>
          </mat-card>

          <mat-card *ngIf="currentUserSimplifiedExpenditure < 0"class="stat-card-pay" fxFlex="33">
            <div class="text">
              <h4 class="mat-h4">You need to pay</h4>
        
              <br>
              <span class="total">₹{{currentUserSimplifiedExpenditure * -1}}</span>
            </div>
          </mat-card>
        
          <!-- <mat-card fxFlex="20">
            <div class="text">
              <h4 class="mat-h4">Idle Users</h4>
        
              <br>
              <span class="total">12</span>
            </div>
          </mat-card> -->
        
        
        </div>

        <div *ngIf="showSettlements == true">
          <mat-list *ngFor="let settlement of simplifiedTransactions">

            <mat-card *ngIf= "(settlement.from_uid !== curuser) && (settlement.to_uid !== curuser)" class="notInvolved">
              <mat-list-item>
                <p matline> {{settlement.from_name}} will pay ₹{{settlement.amount}} to {{settlement.to_name}} </p>
              </mat-list-item>
            </mat-card>

            <!-- Need to Pay -->
            <mat-card *ngIf = "(settlement.from_uid === curuser) && (settlement.to_uid !== curuser)" class="havetopay">
              <mat-list-item>
                <p matline> You need to pay ₹{{settlement.amount}} to {{settlement.to_name}} </p>
              </mat-list-item>
            </mat-card>

            <mat-card *ngIf= "(settlement.from_uid !== curuser) && (settlement.to_uid === curuser)" class="willget">
              <mat-list-item>
                <p matline> {{settlement.from_name}} will pay ₹{{settlement.amount}} to you </p>
              </mat-list-item>
            </mat-card>

            

          </mat-list>
        </div>

      </ng-template>

      
      
    </mat-tab>
  </mat-tab-group>
</mat-card>

<br>
  