.datetag{
    text-align: right;
    margin: 5px;
    font-weight: bold;
}

@media (max-width: 452px) {
    .datetag{
        font-size: 0.8em;
        background-color: rgba(216, 231, 231, 0.747);
        text-align: right;
        margin-right: 5px;
        width: 80px;
        margin-top: 40px;
        margin-left: 50px;
        font-weight: bold;
        padding-right: 10px;
        border-radius: 10%;
    }
}
