
<mat-card class="expense-list-item">
    <div class="expense-title">
        <h2 matline> {{expense.title}}</h2>
    </div>

    <div class="row">
        <div class="col">
            <p matLine> Paid By : {{expense.paidBy.uname}}</p>
            <p matline> Added At - {{expense.expense_date | date:'dd/MM/yyyy, h:mm a'}}</p>
            <p matline> Category : {{expense.category}}</p>
        </div>
        <div class="col">
            <div class="float-right">
                <p matLine class="totalAmount"> Total: ₹{{expense.expense_amount}}</p>
                <p matline class="totalAmount"> Your Share : {{currentUserShare}}</p>

                <div *ngIf="isCurrentUserInvolved(expense)">
                    <p matline *ngIf="currentUserExpenseSettlement(expense) > 0" class="willRecieve"> you are owed by
                    ₹{{currentUserExpenseSettlement(expense)}}</p>
                    <p matline *ngIf="currentUserExpenseSettlement(expense) < 0" class="willPay"> you owes
                        ₹{{currentUserExpenseSettlement(expense)* (-1)}} 
                    </p>
                </div>
                
                <!-- <p *ngIf="!isPaidByCurrentUser" style = "text-align: right;"> to {{expense.paidBy.uname}} </p> -->
            </div>
        </div>
    </div>

</mat-card>

<div>
    <h2 style="margin: 10px;">
        Shared With
    </h2>
</div>
<div *ngFor="let share of expense.shares">
    <mat-card class="expense-list-item" *ngIf="curUserId !== share.uid">
        <div class="row">
            <div class="col">
                <p matline style="font-weight: 500;"> {{share.uname}}</p>
            </div>
            <div class="col">
                <p matline class="totalAmount"> ₹{{share.share_amount}}</p>
            </div>
        </div>
        
    </mat-card>
</div>
