<div class="container">
    <div class="card flex-row flex-wrap">
        <div class="card-header border-0">
            <img [src] ="currentUser.photoURL" alt="user_photo" ImageFallbackDirective>
        </div>
        <div class="card-block px-2">
            <h1 class="card-title">{{ currentUser.fullName }}</h1>
                        
        </div>
        <div class="right">
            <button type="button" class="btn btn-primary">Edit</button>
            <br>
          </div>
        <div class="w-100"></div>
        <div class="card-footer w-100 text-muted">
            <!-- Ongoing Course- {{t.course_name}} -->
        </div>
    </div>
    <br>
</div>
