/* You can add global styles to this file, and also import other style files */

@import "~bootstrap-icons/font/bootstrap-icons.css";

@font-face {
  font-family: "Gordita_Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Gordita_Medium"),
    url("./assets/Gordita_Medium.woff") format("woff");
}

html,
body {
  height: 100%;
  font-family: Gordita_Medium, sans-serif,'Courier New', Courier, monospace;
}
body {
  margin: 0;
  font-family: Gordita_Medium, sans-serif, Roboto, "Helvetica Neue";
}
